html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}


.gradient{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(21,33,119,0.9836309523809523) 35%,

rgba(0,212,255,1) 100%);



}

.page-header{
    margin-top: 4rem;
    font-size: 1.25rem;
    color: #fff;
}

.feature{
    color: #fff;

}

.feature ul{
    padding-left: 2rem;
    list-style-type: none;
}

.feature ul li {
    padding-left: 2rem;
    background-image: url(./img/check.svg);
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-top: 1rem;
}


footer{
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    margin: 0;

}
a{
    color: #fff;
    text-decoration: none;
} 